@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;
        background-image: url(img/bg_mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__mob {
            margin-top: 39.95px;
        }

        &__text-mob {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            text-align: center;
            color: #FFFFFF;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__text-box {
            display: none;
        }
    }

    .title {
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 238.69px;
    }

    .button-box {
        display: flex;
        justify-content: center;
    }

    .game__item {
        width: 343px;
    }

    .play {
        &-box{
            gap: 64px;
            padding-top: 51px;
            padding-bottom: 85px;
            flex-wrap: wrap;
        }
             &__text {
            font-size: 32px;
            line-height: 39px;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        &__gameText {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__button {
            display: flex;
            justify-content: center;
        }
    }

    .playImg {
        display: none;

    }

    .play-mob {
        display: block;
        width: 344px;
        height: 236px;
    }
}