@media (max-width: 375px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }
    .top {
        height: 735px;
        background-image: url(img/bg_mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &__mob {
            margin-top: 39.95px;
        }
        &__text-mob {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            text-align: center;
            color: #FFFFFF;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__text-box {
            display: none;
        }
    }
    .title {
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 238.69px;
    }
    .buttonStart {
        margin-left: 54.47px;
    }
    .game__item {
        width: 343px;
    }

}