@media (max-width: 426px) {

    //Игра 2
    .playFruitsBox {

        display: flex;
        gap: 64px;
    }

    .playFruits {
        padding-top: 51px;
        padding-bottom: 90px;

        &__info {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 343px;
        }

        &__text {
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }

        &__gameText {
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #FFFFFF;
        }
    }


    .playFruitsImg {
        display: none;
    }

    .playFruitsImg-mob {
        display: block;
        width: 344px;
        height: 241px;
    }

    .playFruitsImg-mob {
        cursor: url(img/Cursor.svg), pointer;
        transition: $trans;
        scale: 1.1;
    }
}