@media (max-width: 426px) {
    .center {
        padding-left: calc(50% - 171px);
        padding-right: calc(50% - 171px);
      }

    .top {
        height: 735px;
        background-image: url(img/bg_mob.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &__mob {
            margin-top: 39.95px;
        }

        &__text-mob {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            text-align: center;
            color: #FFFFFF;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__text-box {
            display: none;
        }
    }

    .title {
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 238.69px;
    }

    .button-box {
        display: flex;
        justify-content: center;
    }

    .game__item {
        width: 343px;
    }

    // Игра 1
    .play {
        &-box{
            gap: 64px;
            padding-top: 51px;
            padding-bottom: 85px;
            flex-wrap: wrap;
        }
        &__info {
            width: 343px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__text {
            font-size: 32px;
            line-height: 39px;
            display: flex;
            text-align: center;
            justify-content: center;
        }

        &__gameText {
            font-size: 14px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__button {
            display: flex;
            justify-content: center;
        }
    }

    .playImg {
        display: none;

    }

    .play-mob {
        display: block;
        width: 344px;
        height: 236px;
    }
    .play-mob:hover {
        cursor: url(img/Cursor.svg), pointer;
        transition: $trans;
        scale: 1.1;
    }
}
